.m-bg {
    background-color: #272822 !important;
    color: #f9f9f5 !important;
    text-shadow: none !important;
}

.m-white {
    color: #f9f9f5;
}

.m-blue {
    color: #66d9ef;
    font-style: italic !important;
}

.m-green {
    color: #93dc3c;
}

.m-pink {
    color: #fd4485;
}

.m-yellow {
    color: #d8ce7d;
}

.m-orange {
    color: orange;
}

.split {
    font-size: 0.8em !important;
    float: left;
    width: 49%;
}